.panel-1{
    position: relative;
    width: 100%;
}
.panel-2{
    display: flex;
    justify-content: center;
    align-content: center;
}
.panel-3{
    display: flex;
    justify-content: center;
    justify-items: stretch;
    margin-top: 25px;
}
 
.panel-4{
    display: flex;
    width: 95%;
    height: 100%;
  
}


@media(max-width:768px) {
    app-import-images{
        position: relative;
        width: 50%;
    }
}
@media(min-width:768px) {
    app-import-images{
        position: relative;
        width: 50%;

    }
}
