
            <div class="mat-card card">
                <div class="mat-card-header header">
                    <h3>No se han encontrado imagenes</h3>
                </div>
                <div class="mat-card-content">
                    <h4>¿Desea importar imagenes desde el servidor proveedor?</h4>
                    <hr>
                </div>
                <div class="mat-card-actions actions">
                    <button mat-raised-button color="primary" (click)="this.import()">IMPORTAR</button>
                </div>
    </div>
 