<div class="panel_1">
    <button mat-icon-button color="warn"><span class="material-icons md-18"  (click)="this.return()">
          undo   </span>Volver</button>
    </div>
<div class="central" *ngIf="this.init_component">
    <mat-card>
        <form [formGroup]="this.form" (ngSubmit)="this.OnSubmit()">
            <mat-card-header>
                <div *ngIf="this.image">
                    <img src="{{this.image.url}}">     
                </div> 
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="title" appearance="outline" name="title">
                    <mat-label>Titulo</mat-label>
                    <input matInput type="text" formControlName="title">
                </mat-form-field>

                <mat-form-field class="url" appearance="outline" name="url">
                    <mat-label>URL imagen</mat-label>
                    <input matInput type="text" formControlName="url">
                </mat-form-field>

                <mat-form-field class="category" appearance="outline" name="category">
                    <mat-label>Discription</mat-label>
                    <textarea matInput formControlName="description">
                    </textarea>
                </mat-form-field>

                <mat-form-field  >
                    <mat-select formControlName="url">
                        <mat-option  *ngFor="let category of this.categories" value={{category}} >
                            {{category}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <div class="buttons" >
                <button  mat-stroked-button   color="primary" type="button" (click)="OnSubmit()">
                    Guardar cambios
                </button>
                <button  mat-stroked-button   color="accent" type="button" (click)=" this.form.reset()">
                    Limpiar campos
                </button>
            </div>
        </mat-card-content>
    </form>
    </mat-card>
</div>