<div class="central columnas col-md-4 col-lg-3 col-xs-12 col-sm-6"> 
                <div class="card-view">
                    <div class="card-header image" >
                        <img mat-card-image class="img" src="{{this.image.url}}" alt="{{image.title}}">
                    </div>
                    <div class="card-image-content">
                        <div class="card-image-content-head">
                            <a href="#">
                                <h3 class="card-image-title" >
                                    {{image.title}}</h3>
                            </a>
                          
                        </div>
                        <div class="card-image-info">
                            <div class="datos" *ngIf="this.viewDates">
                                <span>{{image.category}}</span>
                                <label>{{image.description}}</label>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Delete" (click)="delete()">delete</button>
                        
                            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="edit" (click)="edit()">edit</button>
                        
                            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="more" (click)="more()">more_vert</button>
                        
                        </div>
                        
                    </div>
                </div>
</div>
 